In [ ]:
name = "Hardik"
print("My name is " +name)

My name is Hardik

In [ ]:
fruits=["apple","banana","cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
person = {"Name" : "Hardik", "age":20, "city": "Mumbai"}
print(person)

{'Name': 'Hardik', 'age': 20, 'city': 'Mumbai'}

In [ ]:
numbers=(1,2,3)
print(numbers)

(1, 2, 3)